@page
@model WebApp.Pages.IndexModel
@{
    var dispName = ViewContext.ActionDescriptor.DisplayName;
    Console.WriteLine(dispName);
    Console.WriteLine(this);
    Console.WriteLine(Model);
}
<html>
<body>
    <h1>This is the @dispName Page</h1>
    <a href="Employees">Employees</a>
</body>
</html>
