@using WebApp.Models

@model Department 

<html>
    <body>
        <h1>Department</h1>
        <p>
            @Model.Id
        </p>
        <p>
            @Model.Name
        </p>
        <p>
            @Model.Description
        </p>
    </body>
</html>