@* @model WebApp.Pages.Shared.Components.MyViewComponent.MyViewComponent.MyViewComponentModel *@
@* @model WebApp.Pages.Shared.Components.MyViewComponent.Model *@

@{
    
    Console.WriteLine("");
}
<div>
    <p>Message from View Component:</p>
    @Model.Message
    @* @ViewData["message"] *@
    
</div>
