@model List<Department>

@if (Model is not null && Model.Count > 0)
{
    <table class="table table-striped">
        <thread>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thread>
        <tbody>

            @foreach (var department in Model)
            {
                @await Html.PartialAsync("_DepartmentListItem", department)
            }
        </tbody>
    </table>
}




